.mob {
    
}
.cart {
    overflow-x: none; 
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}
.container {
    /* background-color: chocolate; */
    width: 80vw;
    display: flex;
}
.left{
    /* background-color: rgb(157, 149, 149); */
    width: 100%;
    margin-right:20px ;
    /* height: 100%; */
}
.right {
    /* position: relative; */
    /* background-color: brown; */
    width: 100%;
    margin-bottom: 13px;
    /* height: 100%; */
}

.totalDiv {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.total {
    display: flex;
    justify-content: space-between;
}
.btn {
    display: flex;
    justify-content: center;
    width: 100%;
}
.button {
    width: 80%;
    height: 40px;
    background-color: hsl(80, 68%, 38%);
    border-radius: 10px;
    border-style: none;
}

