.footer {
    width: 100vw;
    /* color:white; */
    background-color: #cfff70af;
    position: sticky;
    bottom: 0;
}
.title{
    display: flex;
    justify-content: center;
}
.social {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}
.icon {
    margin: 10px;
}
.bottom {
    display: flex;
    justify-content: space-around;
}
.bottom_mob {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}