.footer {
    width: 100vw;
    /* color:white; */
    background-color: #cfff70af;
    position: sticky;
    bottom: 0;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}
.social {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.icon {
    margin: 10px;
}
.bottom {
    display: flex;
    justify-content: space-around;
    /* margin: 20px; */
}
.bottom_mob {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* margin: 20px; */
    padding: 30px;
}