/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  /* font-family: 'Poppins', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 230;
  /* font-family: 'Nunito', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  text-decoration: none;
  animation-duration: 3s;
}

a {
  text-decoration: none;
  color: black;
}
.carousel-status {
  display: none;
}
.thumbs {
  display: flex;
  flex-flow: row wrap;
  place-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
/*
.animated {
}
.carousel {
  transition: all .15s ease-in;
  transform: translate3d(0, 0, 0);
  position: relative;
  list-style: none;
  white-space: nowrap;
} */

body {
  margin: 0;
  overflow-x: hidden;
}
/* //////////////////////////// */

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 800ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 800ms;
}

/* slider */

.control-dots{
  display: none;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 1px solid #51505029 !important;
}

.slick-arrow {
  display: none !important;
}

.spinner-container {
  width: 100%;
  height: 100%;
  background-color: #77a31f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
    align-items: center;
    display: flex;
}
.loading-spinner {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid hsl(80, 68%, 38%);
  width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* :root {
  --card_width: 250px;
  --row_increment: 10px;
  --card_border_radius: 16px;
  --card_small: 26;
  --card_med: 33;
  --card_large: 45;
} */

/* 
.pin_container {
  margin: 0;
  padding: 0;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card_width));
  grid-auto-rows: var(--row_increment);
  justify-content: center;

  background-color: black;
}

.card {
  padding: 0;
  margin: 15px 10px;
  border-radius: var(--card_border_radius);
  background-color: red;
} */


.control-arrow {
  display: none;
}



/* ///////////// */


.offp{
  position: relative;
  top: 25px;
  margin: 0;
  font-weight: 400;
  margin-left: 10px;
}
.off{
  margin-top: 10px;
  display: flex;
  align-items: baseline;
}
.del{
  text-decoration:none;
  position:relative;
  /* margin: 5px; */
  margin-top: 20px;
  color: gray;
  /* font-size: 1rem; */
}
.del::before{
    top: 50%; /*tweak this to adjust the vertical position if it's off a bit due to your font family */
    background:rgb(206, 35, 33); /*this is the color of the line*/
    opacity:.7;
    content: '';
    width: 110%;
    position: absolute;
    height:.1em;
    border-radius:.1em;
    left: -5%;
    white-space:nowrap;
    display: block;
    transform: rotate(-15deg);  
}
.del::before{transform: rotate(-10deg);left:-1%;width:102%;}





/* //sucss */

.demo1 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-success, .ui-error {
  width: 200px;
  height: 200px;
  margin: 10px;
}
.ui-success-circle {
  stroke-dasharray: 260.75219024795285px, 260.75219024795285px;
  stroke-dashoffset: 260.75219024795285px;
  transform: rotate(220deg);
  transform-origin: center center;
  stroke-linecap: round;
  /* animation: ani-success-circle 1s ease-in both; */
}
.ui-success-path {
  stroke-dasharray: 60px 64px;
  stroke-dashoffset: 62px;
  stroke-linecap: round;
  animation: ani-success-path 0.4s 1s ease-in both;
}

@keyframes ani-success-path {
  0% {
    stroke-dashoffset: 62px;
 }
  65% {
    stroke-dashoffset: -5px;
 }
  84% {
    stroke-dashoffset: 4px;
 }
  100% {
    stroke-dashoffset: -2px;
 }
}
.ui-error-circle {
  stroke-dasharray: 260.75219024795285px, 260.75219024795285px;
  stroke-dashoffset: 260.75219024795285px;
  animation: ani-error-circle 1.2s linear;
}
.ui-error-line1 {
  stroke-dasharray: 54px 55px;
  stroke-dashoffset: 55px;
  stroke-linecap: round;
  animation: ani-error-line 0.15s 1.2s linear both;
}
.ui-error-line2 {
  stroke-dasharray: 54px 55px;
  stroke-dashoffset: 55px;
  stroke-linecap: round;
  animation: ani-error-line 0.2s 0.9s linear both;
}
@keyframes ani-error-line {
  to {
    stroke-dashoffset: 0;
 }
}
@keyframes ani-error-circle {
  0% {
    stroke-dasharray: 0, 260.75219024795285px;
    stroke-dashoffset: 0;
 }
  35% {
    stroke-dasharray: 120px, 120px;
    stroke-dashoffset: -120px;
 }
  70% {
    stroke-dasharray: 0, 260.75219024795285px;
    stroke-dashoffset: -260.75219024795px;
 }
  100% {
    stroke-dasharray: 260.75219024795285px, 0;
    stroke-dashoffset: -260.75219024795px;
 }
}


/* //form */

.formbold-mb-5 {
  margin-bottom: 20px;
}
.formbold-pt-3 {
  padding-top: 12px;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
}
.formbold-form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 12px;
}
.formbold-form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}

.formbold-form-input {
  width: 100%;
  padding: 12px 5px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
/* .formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
} */

.formbold-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: 14px 32px;
  border: none;
  font-weight: 600;
  background-color: #77a31f;
  color: white;
  cursor: pointer;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.formbold-px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
/* @media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
} */