.rev {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 20px;
}
.innerDiv {
  width: 90vw;
  max-width: 600px;
}
.section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.imagecontainer {
  display: flex;
  justify-content: space-between;
}
.nonimage{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    align-content: center;
}

.wrapper {
  max-width: 400px;
}

.demo_2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.Pricecontainer {
  margin: 20px 0px;
}

.btncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.btn {
  background-color: #76A11F;
  width: 100%;
  max-width: 120px;
  margin: 3px;
  height: 30px;
  align-items: center;
  padding: 2px;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  color: #fff;
}

.Line {
    width: 100%;
    height: 1px;
    background-color: rgba(149, 146, 146, 0.801);
    margin-top: 20px;
}
.cancelBtnC {
padding: 10px;


}
.cancelBtn {
  width: 100px;
  height: 40px;
  margin: 10px;
  background-color: #76A11F;
  border-style: none;
  border-radius: 5px;
  color: #fff;
}