/* mobail ui  */
.container_mob {
 /* background-color: aquamarine; */
 gap: 10px;
 margin: 30px;
 margin-bottom: 20px;
 max-height: 300px;
}
.left_mob {
  width: 100%;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.imgcont_mob {
  
  /* height: 130%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_mob {
  border: 1px solid hsla(0, 0%, 74%, 0.264);
  border-radius: 10px;
  /* z-index: 9; */
  width: 40vw;
  height: 40vw;
  position: relative;
}
.img_mob :first-child {
  z-index: -1;
}
.right_mob {
  padding: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* font-family: "Montserrat", sans-serif; */
  font-size: 80%;
}
.title_mob {
  font-size: 3vw;
}
.desc_mob {
  display: none;
}
.price_mob {
  height: 10px;
  display: flex;
  align-items: center;
  font-size: .8rem;
}
.button_mob {
  margin-top: 10px;
  display: flex;
}
.button_buy_mob {
  background-color: hsl(80, 68%, 38%);
  border: none;
  border-radius: 5px;
  width: 20vw;
  margin-right: 20px;
  color: #fff;
  font-size: 2.8vw;
  size-adjust: none;
}

.button_cart_mob {
  background-color: hsl(80, 68%, 38%);
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 80vw;
}
/* mobail ui end */

.container {
  margin: 10vh 5% 10vh 5%;
  display: flex;
  flex: 3;
  /* background-color: aqua; */
  /* flex-direction: row; */
  padding: 10px;
}
 .left {
  /* width: 100%;
  justify-content: center;
  display: flex;
  flex: 1; */
  /* background-color: chocolate; */
} 
.right {
/* 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 2; */
  /* background-color: coral; */
} 
.imgcont {
  position: relative;
  width: 45vw;
  height: 45vw;
}
.img {
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
}
.title {
  /* font-family: "Montserrat", sans-serif; */
  margin: 0;
}
.desc {
  max-width: 500px;
  margin: 0;
/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.price {
  height: 10px;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.button {
  display: flex;
  /* justify-content: center; */
}
/* .button_buy {
  background-color: hsl(80, 68%, 38%);
  border-style: none;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1rem;
  padding: 0.2rem 5rem;
  color: whitesmoke;
} */
.button_cart {
  background-color: hsl(80, 68%, 38%);
  border-style: none;
  border-radius: 10px;
  padding: 1rem 1rem;
  /* font-size: 1.8rem; */
  color: whitesmoke;
  font-weight: lighter;
  width: 200px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .left {
    width: 60vw;
    /* height: 80vh; */
    align-items: center;
    
  }
  .imgcont {
    position: relative;
    /* width: 30vw; */
    /* height: 30vw; */
  }
  /* .button_buy {
    
    height: 41px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  .button_cart {
    width: 41px;
    height: 41px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

}


.loading {
  width: 100%;
  height: 100%;
  background-color: #77a31f;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  justify-content: center;
    align-items: center;
    display: flex;
}
.load {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid hsl(80, 68%, 38%);
  width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}